//UTILS
@import "./utils/variables";
@import "./utils/visually-hadden";

//BASE
@import "./base/common";
@import "./base/cotainer";

//COMPONENTS
@import "./components/social-list";
@import "./components//backdroop";
@import "./components/modal-window";
@import "./components/modal-form";

//LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/title";
@import "./layout/comands";
@import "./layout/clients";
@import "./layout/portfolio";
@import "./layout/fotter";
