.about .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.my-working__text {
  color: var(--black-color);
  font-family: var(--main-font);
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
.my-working__post-text {
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
  color: var(--color-grey);
  font-family: var(--main-font);
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
}
.my-working__item {
  &::before {
    display: block;

    height: 120px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  &:nth-child(1)::before {
    background-image: url("../image/icons.svg/antenna1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(2)::before {
    background-image: url("../image/icons.svg/clock1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(3)::before {
    background-image: url("../image/icons.svg/diagram1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(4)::before {
    background-image: url("../image/icons.svg/astronaut1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-left: 15px;
    padding-right: 15px;
    width: 768px;
    margin: 0 auto;
  }
  .about .my-working {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    width: 1200px;
    margin: 0 auto;
  }
  .my-working__text {
    color: var(--black-color);
    font-family: var(--main-font);
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .my-working__post-text {
    flex-wrap: wrap;
    margin-top: 10px;
    width: 270px;
    color: var(--color-grey);
    font-family: var(--main-font);
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
  }
}
/*
.about .my-working {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-working__item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  &::before {
    display: block;
    width: 270px;
    height: 120px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  &:nth-child(1)::before {
    background-image: url("../image/icons.svg/antenna1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(2)::before {
    background-image: url("../image/icons.svg/clock1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(3)::before {
    background-image: url("../image/icons.svg/diagram1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(4)::before {
    background-image: url("../image/icons.svg/astronaut1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}
.my-working__text {
  color: var(--black-color);
  font-family: var(--main-font);
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.my-working__post-text {
  flex-wrap: wrap;
  margin-top: 10px;
  width: 270px;
  color: var(--color-grey);
  font-family: var(--main-font);
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
}*/
