.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about .my-working {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-working-text {
  &:not(:last-child) {
    margin-right: 30px;
  }

  &::before {
    display: block;
    width: 270px;
    height: 120px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    background-size: 70px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  &:nth-child(1)::before {
    background-image: url("../image/icons.svg/antenna1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(2)::before {
    background-image: url("../image/icons.svg/clock1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(3)::before {
    background-image: url("../image/icons.svg/diagram1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }

  &:nth-child(4)::before {
    background-image: url("../image/icons.svg/astronaut1.svg");
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}
.text {
  color: var(--black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.post-text {
  flex-wrap: wrap;
  margin-top: 10px;
  width: 270px;
  color: var(--color-grey);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
