.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(47, 48, 58, 1);
}
.logo-footer {
  text-align: center;
  margin-left: 150px;
  margin-bottom: 20px;
}
.adress {
  color: var(--while-color);
  font-family: var(--main-font);
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  text-align: center;
}

.studio {
  color: var(--while-color);
}
.adress-list {
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: var(--touch-color);
  }
}

.mail-list {
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: var(--touch-color);
  }
}
.tel-list {
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--touch-color);
  }
}

.footer-title {
  text-align: center;
  font-family: var(--main-font);
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--while-color);
  margin-bottom: 20px;
  margin-top: 60px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
}
.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: #ffffff;
    background-color: #2196f3;
  }
}

.social-list-item-footer {
  margin-right: 10px;
}
.social-list-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--while-color);
}
.form-title-footer {
  font-family: var(--main-font);
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 60px;
}
.modal-form-input-footer {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  font-family: var(--main-font);
  @include font(16px, 400, 20px);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-right: 13px;
}
.modal-form-btn-footer {
  width: 200px;
  height: 50px;
  margin-left: 130px;
  margin-top: 20px;
  background: #2196f3;
  border: 0;
  border-radius: 4px;
  font-family: var(--main-font);
  @include font(16px, 700, 30px);
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  cursor: pointer;
  text-align: left;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url("../image/icons.svg/iconsend.svg");
  background-repeat: no-repeat;
  background-position: 148px 13px;

  &:focus,
  &:hover {
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container-item {
    display: flex;
  }
  .logo-footer {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
  }
  .adress-container {
    margin-right: 70px;
  }
  .logo-footer {
    text-align: start;
    margin-left: 110px;
    margin-bottom: 20px;
  }
  .adress {
    text-align: left;
    margin-left: 70px;
  }
  .footer-social {
    margin-right: 160px;
  }

  .modal-form-input-footer {
    width: 450px;
    margin-left: 130px;
  }
  .modal-form-btn-footer {
    margin-left: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: flex-start;
  }
  .adress-container {
    margin-right: 70px;
  }
  .logo-footer {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .contacts .logo {
    margin-bottom: 20px;
  }

  .adress {
    margin: 0;
  }

  .footer-social {
    margin-right: 60px;
  }
  .footer-title {
    text-align: left;
  }

  .social-list-footer {
    display: flex;
    justify-content: space-between;
  }

  .social-list-item-footer {
    margin-right: 10px;
  }
  .social-list-icon-footer {
    width: 20px;
    height: 20px;
    fill: var(--while-color);
  }
  .footer-form {
    display: flex;
    margin: 0px;
  }
  .form-title-footer {
    text-align: left;
    margin-bottom: 0px;
  }
  .modal-form-input-footer {
    width: 358px;
    margin-left: 0px;
  }
  .modal-form-btn-footer {
    margin-left: 0px;
  }
}
