.header {
  border-bottom: 1px solid #ececec;

  & .container {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
  }
}
.logo {
  color: rgba(0, 0, 0, 1);
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.web {
  color: var(--touch-color);
}
.nav {
  display: flex;
}
.navigation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-link {
  display: block;
  align-items: center;
  position: relative;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--touch-color);
  }

  &.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    margin: 0 auto;
    border-radius: 2px;
    color: var(--touch-color);
    position: absolute;
    top: 44px;
    left: 0;
  }

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation {
  font: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.media-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  display: flex;
  fill: var(--color-grey);
}

.media-list {
  display: flex;
  align-items: center;
  font: var(--main-font);
  color: var(--color-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.media-list-link {
  display: flex;
  align-items: center;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--touch-color);
  }
}

.media-list-mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: rgba(33, 150, 243, 1);
  }
}

.media-list-tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: rgba(33, 150, 243, 1);
  }
}
