.portfolio-section {
  width: 1200px;
  padding: 94px auto;
  margin: auto;
}

.project {
  color: transparent;
}

.sign-link-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 8px;
  border: 1px solid transparent;
}

.sign-link {
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  margin-right: 8px;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    color: var(--while-color);
    background: #2196f3;
  }
}

.portfolio {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-list-list {
  margin-top: -30px;
  margin-left: -30px;
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-list {
  width: 370px;
  height: 404px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  display: block;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--while-color);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.6),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-item {
  padding-left: 24px;
  padding-top: 20px;
}
.portfolio-img {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--black-color);
}
.portfolio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-bottom: 4px;
}
.portfolio-nav {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.overlay-portfolio {
  background: rgba(33, 150, 243, 0.9);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 64px;
  padding-left: 23px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transition: transform 500ms linear;
  transform: translateY(100%);

  .portfolio-list:hover &,
  .portfolio-list:focus & {
    transform: translateY(0%);
  }
}
.team-portfolio-img {
  position: relative;
  overflow: hidden;
}
